
.modal .modal-content .modal-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #915EFF #E5E7EB;
}

.modal .modal-content .modal-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.modal .modal-content .modal-scrollbar::-webkit-scrollbar-track {
    background: #E5E7EB;
}

.modal .modal-content .modal-scrollbar::-webkit-scrollbar-thumb {
    background-color: #915EFF;
    border-radius: 4px;
}